{% extends 'index.html.twig' %}
{% block body %}
<table>
<tr>
    <th>title</th>
    <th>student</th>
    <th>entreprise</th>
</tr>
<tr>
<td>{{pfe.title}}</td>
<td>{{pfe.student}}</td>
<td>{{pfe.entreprise}}</td>


</tr>

</table>


{% endblock %}